.searchBarContainer{
    background-color: #212121;
  }
  .logoContainer{
    background-color: #212121;
  }
.sizeDesktop{
  background-color: #212121;
}
.logoImage{ 
  height:105%;
}
.productBrand{
  color:#fff;
 
}
.productImageTag{
  width: 100px;
  height: 100px;
  
}



  